img.tt
{
  height:10%;
  width: 10%;
}
p.tt
{
  color: red;
  font-size: 250%;
  display:inline-block;
}

div.card-body
{
	text-align: center;
}

img.card-background
{
	opacity: 30%;
    height: auto;
	width: 30%;
}

.current
{
	font-weight: bold;
	position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.date
{
    top: 20%;
}

.time
{
    top: 40%;
}

.location
{
    top: 70%;
}

.checkinout
{
	padding-top: 5%;
	text-align: center;
}

.b2
{
	width: 100%;
	border-color : rgb(41,110,214);
	color: rgb(41,110,214);
	cursor: pointer;
	border-radius: 50px;
	font-weight: bold;
}